@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik Bold';
  src: url('assets/fonts/Aeonik-Bold.otf');
}
@font-face {
  font-family: 'Aeonik Medium';
  src: url('assets/fonts/Aeonik-Medium.otf');
}
@font-face {
  font-family: 'Aeonik Regular';
  src: url('assets/fonts/Aeonik-Regular.otf');
}
@font-face {
  font-family: 'Aeonik Light';
  src: url('assets/fonts/Aeonik-Light.otf');
}
@font-face {
  font-family: 'Aeonik Thin';
  src: url('assets/fonts/Aeonik-Thin.otf');
}

body {
  margin: 0;
  font-family: 'Aeonik Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

.font-medium {
  font-family: 'Aeonik Medium', sans-serif;
}

.font-bold {
  font-family: 'Aeonik Bold', sans-serif;
}

.font-normal {
  font-family: 'Aeonik Regular', sans-serif;
}
